Django~=5.2.1
django-allauth~=65.8.1
django-allauth-ui~=1.8.1
django-widget-tweaks~=1.5.0
slippers~=0.6.2
Markdown~=3.8
nh3~=0.2.21
django-crispy-forms~=2.4
crispy-bootstrap5~=2025.4
django-environ~=0.12.0
django-tz-detect~=0.5.0