{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}
{% load slippers %}

{% block title %}{{ club.name }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'styles/club-page.css' %}">
{% endblock head %}

{% block pre_h1 %}
  {% if club.logo %}
    <img src="{{ club.logo.url }}" alt id="club-logo">
  {% endif %}
{% endblock pre_h1 %}

{% block main %}
  {% if carousel %}
    <div id="club-carousel" class="carousel slide mb-2">
      <div class="carousel-inner">
        {% for f in carousel %}
          <div class="carousel-item{% if carousel|first == f %} active{% endif %}">
            <img src="{{ f.image.url }}" class="mx-auto d-block" alt="{{ f.alt }}">
          </div>
        {% endfor %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#club-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#club-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  {% endif %}

  <article>
    <h2>From {{ club.name }}</h2>
    <div class="markdown">
{{ club.description|sanitized_markdown|safe }}
    </div>
  </article>

  {% if user.is_authenticated %}
    <form id="post-actions" method="post">{% csrf_token %}
      <fieldset>
        <legend>Club actions</legend>

        {% if always_shown %}
          <div id="always-shown-message" style="margin-bottom: .5em">
            This club is always shown in your ClubFeed even if you don't follow.
          </div>
        {% endif %}

        <!-- TODO: DRY: templates/components/button/action.html -->
        <input type="submit" id="action-follow-toggle" name="action-follow-toggle" value="+ {{ club.followers.count }}"
               class="btn {% if following %}btn-primary{% else %}btn-secondary{% endif %}"
               title="{% if following %}Unf{% else %}F{% endif %}ollow this club ({{ club.followers.count }})">
        {# TODO: {% #button_link href="{% url 'creator:create_post' %}?club={{ club.id }}" %}Post to this club{% /button_link %} #}
        {% if edit_club %}{% #button_link classes='btn-secondary' href=edit_club %}Edit{% /button_link %}{% endif %}
        {% if media_manager %}{% #button_link classes='btn-secondary' href=media_manager %}Media manager{% /button_link %}{% endif %}
      </fieldset>
    </form>
  {% endif %}

  <section id="posts">
    {% for post in posts %}
{% #post_card post=post %}{% /post_card %}
  {% endfor %}
  </section>

  {% #feed_paginator page_obj=posts elided_page_range=elided_page_range %}{% /feed_paginator %}
{% endblock %}