{% extends 'base.html' %}
{% load markdown_extras %}
{% load slippers %}

{% block title %}{{ club.name }}{% endblock %}

{% block main %}
{{ club.description|sanitized_markdown|safe }}

  <form id="post-actions" method="post">{% csrf_token %}
    <fieldset>
      <legend>Club actions</legend>

      {% if always_shown %}
        <div id="always-shown-message" style="margin-bottom: .5em">
          This club is always shown in your ClubFeed even if you don't follow.
        </div>
      {% endif %}

      <!-- TODO: DRY: templates/components/button/action.html -->
      <input type="submit" id="action-follow-toggle" name="action-follow-toggle" value="+ {{ club.followers.count }}"
             class="btn {% if following %}btn-primary{% else %}btn-secondary{% endif %}"
             title="{% if following %}Unf{% else %}F{% endif %}ollow this club ({{ club.followers.count }})">
{#      {% #button_link href="{% url 'creator:create_post' %}?club={{ club.id }}" %}Post to this club{% /button_link %}#}
      {% if edit_club %}{% #button_link classes='btn-secondary' href=edit_club %}Edit{% /button_link %}{% endif %}
    </fieldset>
  </form>

  <section id="posts">
    {% for post in posts %}
{% #post_card post=post %}{% /post_card %}
  {% endfor %}
  </section>

  {% #feed_paginator page_obj=posts elided_page_range=elided_page_range %}{% /feed_paginator %}
{% endblock %}