{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}
{% load slippers %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ post.title }}{% endblock %}

{% get_comment_count for post as comment_count %}

{% block pre_h1 %}
  <span class="poster">
    {{ post.post_date }}
    • in <a href="{% url 'clubs:club_page' club_id=post.club.id club_slug=post.club.slug %}">{{ post.club.name }}</a>
    • by <a href="{% url 'users:user_page' user_id=post.author.id username=post.author.username %}">{{ post.author }}</a>
  </span>
{% endblock %}

{% block main %}
  <div class="markdown">
{{ post.body|sanitized_markdown|safe }}
  </div>

  {% if user.is_authenticated %}
    <form id="post-actions" method="post">{% csrf_token %}
      <fieldset>
        <legend>Post actions</legend>

        <!-- TODO: DRY: templates/components/button/action.html -->
        <input type="submit" id="action-upvote-toggle" name="action-upvote-toggle" value="&uarr; {{ post.upvoters.count }}"
               class="btn {% if upvoting %}btn-primary{% else %}btn-secondary{% endif %}"
               title="{% if upvoting %}Remove upvote from{% else %}Upvote{% endif %} this post ({{ post.upvoters.count }})">
        {% if can_edit %}
          {% #button_link classes='btn-secondary' href=edit_url %}Edit{% /button_link %}
        {% endif %}
      </fieldset>
    </form>
  {% endif %}

<div id="comments"></div>

  {# This is all comments_xtd's fault! #}
  <script src="https://cdn.jsdelivr.net/npm/react@18.3.1/umd/react.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/react-dom@18.3.1/umd/react-dom.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/remarkable@2.0.1/dist/remarkable.min.js"></script>
  <!--suppress JSUnresolvedReference -->
  <script nonce="{{ request.csp_nonce }}">
    window.comments_props = {% get_commentbox_props for post %};
    window.comments_props_override = {
      allow_comments: {% if post.allow_comments %}true{% else %}false{% endif %},
      allow_feedback: true,
      show_feedback: true,
      allow_flagging: true,
      polling_interval: 5000 // ms
    };
  </script>
  {% comment 'We already have Bootstrap' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  {% endcomment %}
  <script src="{% url 'javascript-catalog' %}"></script>
  <script src="{% static 'django_comments_xtd/js/django-comments-xtd-2.10.6.js' %}"></script>
  <!--suppress JSUnresolvedReference -->
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener('DOMContentLoaded', (_) => {
      const tooltipQs = '[data-bs-toggle="tooltip"]';
      const tooltipList = document.querySelectorAll(tooltipQs);
      [...tooltipList].map(el => new bootstrap.Tooltip(el, {html: true}));
    });
  </script>
{% endblock %}