{% extends 'base.html' %}
{% load markdown_extras %}
{% load slippers %}
{% load comments %}

{% block title %}{{ post.title }}{% endblock %}

{% block pre_h1 %}
  <span class="poster">
    {{ post.post_date }}
    • in <a href="{% url 'clubs:club_page' club_id=post.club.id club_slug=post.club.slug %}">{{ post.club.name }}</a>
    • by <a href="{% url 'users:user_page' user_id=post.author.id username=post.author.username %}">{{ post.author }}</a>
  </span>
{% endblock %}

{% block main %}
{{ post.body|sanitized_markdown|safe }}

  {% if user.is_authenticated %}
    <form id="post-actions" method="post">{% csrf_token %}
      <fieldset>
        <legend>Post actions</legend>

        <!-- TODO: DRY: templates/components/button/action.html -->
        <input type="submit" id="action-upvote-toggle" name="action-upvote-toggle" value="&uarr; {{ post.upvoters.count }}"
               class="btn {% if upvoting %}btn-primary{% else %}btn-secondary{% endif %}"
               title="{% if upvoting %}Remove upvote from{% else %}Upvote{% endif %} this post ({{ post.upvoters.count }})">
        {% if can_edit %}
          {% #button_link classes='btn-secondary' href=edit_url %}Edit{% /button_link %}
        {% endif %}
      </fieldset>
    </form>

    <div class="card card-block mb-5">
      <fieldset class="card-body">
        <legend class="card-title text-center pb-3">Comment on this post</legend>
        {% render_comment_form for post %}
      </fieldset>
    </div>

    {% if comment_count %}
      <div class="comments">
  {% render_comment_list for post %}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}