{% extends 'base.html' %}
{% load markdown_extras %}
{% load slippers %}

{% block title %}{{ post.title }}{% endblock %}

{% block pre_h1 %}
  <span class="poster">Posted {{ post.post_date }} by {{ post.author }}</span>
{% endblock %}

{% block main %}
{{ post.body|sanitized_markdown|safe }}

  <form id="post-actions" method="post">{% csrf_token %}
    <fieldset>
      <legend>Post actions</legend>

      <!-- TODO: DRY: templates/components/button/action.html -->
      <input type="submit" id="action-upvote-toggle" name="action-upvote-toggle" value="&uarr; {{ post.upvoters.count }}"
             class="btn {% if upvoting %}btn-primary{% else %}btn-secondary{% endif %}"
             title="{% if upvoting %}Remove upvote from{% else %}Upvote{% endif %} this post ({{ post.upvoters.count }})">
      {% #button_link classes='btn-secondary' href=edit_url %}Edit{% /button_link %}
    </fieldset>
  </form>
{% endblock %}