<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} - ClubFeed [PRE-ALPHA]</title>
  <link rel="stylesheet" href="{% static 'styles/base.css' %}">
</head>
<body>
  <header>
    ClubFeed
    <nav>
      <div id="nav-main">
        <a href="{% url 'viewer:club_list' %}">Clubs</a>
        {% if user.is_authenticated %}
          <a href="{% url 'creator:create_post' %}">Post</a>

          {% if user.is_staff or user.is_superuser %}
            <a href="{% url 'admin:index' %}">Admin</a>
          {% endif %}
        {% endif %}
      </div>
      <div id="nav-user">
        <a href="{% url 'account_login' %}">
          {% if user.is_authenticated %}{{ user.get_username }}{% else %}Sign in{% endif %}</a>

        {% if user.is_authenticated %}
          <a href="{% url 'account_logout' %}">Sign out</a>
        {% endif %}
      </div>
    </nav>
  </header>

  <main id="main">
{% block pre_h1 %}{% endblock %}
  {% if title %}<h1>{{ title }}</h1>{% endif %}
{% block main %}{% endblock %}
  </main>
</body>
</html>