{% load static %}{% load django_bootstrap5 %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block head_title %}{# Used by allauth #}{% endblock head_title %}{{ title }}{% if show_site_name_in_title is not False %} -
    {{ request.site.name }}{% endif %}</title>
  <link rel="icon" href="{% static 'fav/favicon.svg' %}" type="image/svg+xml">
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <meta name="theme-color" content="#0424c1">
  <meta name="apple-mobile-web-app-title" content="ClubFeed">

  <script src="{% static 'scripts/dark.js' %}"></script>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>

  {# ClubFeed styles are loaded last to override Bootstrap, etc. #}
  <link rel="stylesheet" href="{% static 'styles/base.css' %}">
  <link rel="stylesheet" href="{% static 'styles/markdown.css' %}">

  {% block head %}{% endblock head %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home:home' %}"><img id="logo" src="{% static 'logo/sitelogo.svg' %}" alt="ClubFeed home" class="d-inline-block align-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="{% url 'clubs:club_list' %}" class="nav-link">Clubs</a></li>
            {% if user.is_authenticated %}
              {% if can_post %}
                <li class="nav-item"><a href="{% url 'creator:create_post' %}" class="nav-link">Post</a></li>
              {% endif %}

              {% if user.is_staff %}
                <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">Admin</a></li>
              {% endif %}
            {% endif %}
          </ul>

          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'users:user_page' user_id=request.user.id username=request.user.username %}" class="nav-link">{{ request.user }}</a>
              </li>
              <li class="nav-item"><a href="{% url 'account_email' %}" class="nav-link">Settings</a></li>
              <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Sign out</a></li>
            {% else %}
              <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Sign in</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% bootstrap_messages %}
  </header>

  <main id="main">
{% block pre_h1 %}{% endblock %}
  {% if title and h1_from_title is not False %}<h1>{{ title }}</h1>{% endif %}
{% block main %}{% endblock %}
  </main>

{% load tz_detect %}{% tz_detect %}
</body>
</html>