:root {
  --ui-font: system-ui, sans-serif;
}

body {
  font-family: var(--ui-font), sans-serif;
}

nav {
  background-color: #0424c1;

  .nav-link {
    color: white;
  }

  #logo {
    filter: drop-shadow(0 3px 5px #000000);
    height: 3em;
  }
}

main {
  margin: 1em 4em;
  padding: .6em;
  /*border: thin #888 solid;*/
  /*border-radius: 10px;*/
}

form {
  textarea {
    display: block;
    font-family: monospace;
  }
}

.alert {
  margin: 1em;
}

.screen-reader-only, .sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

article.post-card {
  border: solid #ddd 2px;
  border-radius: .6em;
  margin: 1em 0;
  padding: 1em;
}

.paginator {
  text-align: center;
}
