header {
  nav {
    background-color: #0424c1;

    .nav-link {
      color: white;
    }

    #logo {
      filter: drop-shadow(0 3px 5px #000000);
      height: 3em;
    }
  }
}

main {
  margin: 1em 3em;
}

form {
  textarea {
    display: block;
    font-family: monospace;
  }
}

.alert {
  margin: 1em;
}

.screen-reader-only, .sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

article.post-card {
  margin: 1em 0;
  padding: 1em;
}

img#profile-picture {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1em;
}

.markdown img {
  max-width: 100%;
  height: auto;
  max-height: 70vh;
}

.carousel {
  width: 70rem;
  max-width: 100%;
  margin: 0 auto;
}
