{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block head %}
  <link rel="stylesheet" href="{% static 'styles/user-page.css' %}">
{% endblock head %}

{% block pre_h1 %}
  {% if profile.picture %}
    <img id="profile-picture" src="{{ profile.picture.url }}" alt>
  {% endif %}
  <div>Joined on {{ user.date_joined }}</div>
{% endblock pre_h1 %}

{% block main %}
{{ profile.description|sanitized_markdown|safe }}

  <fieldset id="user-actions">
    <legend>User actions</legend>
    {% if edit_profile %}{% #button_link classes='btn-secondary' href=edit_profile %}Edit{% /button_link %}{% endif %}
  </fieldset>
{% endblock main %}
